:root {
    --main-color: #ff305b;
    --padd: 80px;
    --marg:80px;
}

/*start global things*/
html {
    scroll-behavior: smooth;
  }
  
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin:0;
padding: 0;
}
body{
    font-family: "Roboto",sans-serif;
}
.container{
padding-left:15px;
padding-right:15px;
margin-left:auto;
margin-right: auto;
}
/*end global things*/

/*start special headings*/
.section-heading{
    text-align: center;
    margin-bottom: 20px;
    color:#333;
    font-size: 25px;
    font-weight:bold;
    position: relative;
}
.section-heading::before{
    position:absolute;
    content: " ";
    width:7%;
    height: 20%;
    right: 50%;
    transform: translate(50%,30px);
    top:50%;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.section-heading::after{
    position:absolute;
    content: " ";
    width:14%;
    right: 50%;
    transform: translate(50%,30px);
    top:60%;
    border-top: 1px solid var(--main-color);
   
}
/*end special headings*/
/* start media*/
/* Small */
@media (min-width: 768px) {
.container {
  width: 750px;
}
}
/* Medium */
@media (min-width: 992px) {
.container {
  width: 970px;
}
}
/* Large */
@media (min-width: 1200px) {
.container {
  width: 1170px;
}
}
/* end media*/
/*end global things*/


/*start header*/
.header{
    padding:20px;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.header .container{
    display:flex;
    justify-content: space-between; 
}
.header .container > a{
    text-decoration: none;
    color: var(--main-color);
    display: block;
    font-size: 23px;
    font-weight: 600; 
}

.header .links{
    display: flex;
}
.header .nav {
    list-style:none;
    padding:0;
    display: flex;
}
.header li a{
    text-decoration: none;
    margin:5px;
    padding:0 10px;
    transition: 1s;
    color: white;
}

.header .links .icon{
    display:none;
}
/**/
/**/
@media (max-width: 1080px) {
    .header li a{
        margin:2px;
        padding:0 5px;
    }
    }
@media (max-width: 991px) {
    .header .nav{
        display:none;
    }
.header .links .icon{
    width:30px;
    display:flex;
    flex-wrap: wrap;   
}

.header .links .icon span{
    background-color: white;
    margin-bottom: 5px;
    height:2px;
    width:100%;
}
.header .links .icon:hover .header .nav{
    display:flex;
    flex-direction: column;
}
.header .links:hover ul{
    display: block;
}
.header .links ul{
    top:50px ;
    right:10%;
    position:absolute;
    display:none;
    z-index:1;
}
 .header .links ul li a{
     display:block;
     padding:15px;
}
    }
 
    @media (max-width: 680px){
        .header .links ul{
            list-style:none;
            text-align: center;
            background-color: #333;
            top:30px;
            right:20%;
            width: 60%;
            position:absolute;
            display:none;
            z-index:1;
        }

    }
 /**/   
.header .nav .active{
    color: var(--main-color);
}
.header .nav li a:hover{
    color:var(--main-color);
}
/*end header*/

/*start landing*/
.landing{
    background-image: url(../img/slider/slider-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  .landing .overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width:100%;
  }
  .landing .intro-text{
    color: white;  
    position: relative;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
}
.landing .intro-text h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.landing .intro-text h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:60px;
    color: var(--main-color);
}
.landing .intro-text p{
 margin-top: 20px;
font-weight:300;
font-size: 23px;
color: #fff;
}
/*end landing*/

/*start about*/
.about{
    margin-top: var(--marg);
    padding: var(--padd);
}
.about .container{
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.about .container .image{
    margin-left: 100px;
    margin-top:30px;
    flex-basis: 40%;
    width:80%;
    position: relative;
    overflow:hidden;
}
.about .container .image::before{
    z-index: -2;
    content:" ";
    position: absolute;
    width:80%;
    height:90%;
    right: 90px;
    top:-30px;
    border:10px solid #444;
    border-radius: 9px;    
}
/**/
@media (max-width:1078px){
    .about .container .image{
        margin-left: 0;
    }
    .about .container .image .overlay{
        width:calc (87% + 50px);
    right:2px;}
}
/**/
.about .container .image img{
    border-radius: 9px;
}
.about .container .image .overlay{
    transition: all 0.1s ease-in-out 1s;
    transition: 2s linear ;
    z-index: 2;
    content:" ";
    position: absolute;
    width:87%;
    height:100%;
    right:55px;
    top:100%;
    background-color:rgba(0, 0, 0, 0.8);
    border-radius: 9px;
}
.about .container .image .overlay .icons{
    position:absolute;
    color:white;
    top:50%;
    right:50%;
    transform:translate(50%,50%) ;
}
.about .container .image .overlay .icons i{
    margin-left:10px;
    transition: all 0.3s ease-in-out 0s;
}
.about .container .image .overlay .icons i:hover{
    color:var(--main-color)
}
.about .container .image:hover .overlay{
    display: block;
    top:0;
    
}
.about .container .about-contet{
    flex-basis: 60%;
    max-width:60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
.about .container .about-contet .about-text{
    margin-bottom: 25px;
}
.about .container .about-contet .about-text h3{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}
.about .container .about-contet .about-text h3::before{
    z-index: -2;
    content:" ";
    position: absolute;
    width:5px;
    height:65%;
    left: -13px;
    top:4px;
    background-color:var(--main-color);
    
}
.about .container .about-contet .about-text p{
   max-width: 90%;
   font-size: 16px;
   line-height: 1.5; 
   color:#777;
}
.about .container .about-contet .info{  
    display: grid;
    margin-bottom:25px ;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 15px; 
}
.about .container .about-contet .info span{
    font-weight:bold;
    color: #444;
}
.about .container .about-contet .info p{
    color:#777;
}
.about .info p:first-child,.about .info p:nth-child(2),
.about .info p:nth-child(3){
    grid-column: 1;
}
.about .info p:first-child{
    grid-row: 1;
}
.about .info p:nth-child(2)
{
    grid-row: 2;
}
.about .info p:nth-child(3){
    grid-row: 3;
}
.about .info p:nth-child(4),.about  .info p:nth-child(5),
.about .info p:nth-child(6){
    grid-column: 2;
}
.about .dots ul{
    display:flex;
    flex-wrap: nowrap;
    list-style: none;
    margin-bottom: 25px;

}
.about .buttons{
    display: flex;
    flex-wrap: nowrap;
}
.about .buttons .btn{
    width: 150px;
    height:40px;
    border-radius: 5px;
    background-color: var(--main-color);
    margin-right: 20px;
    text-align: center;
    line-height: 40px;
    transition: 1s ;
}
.about .buttons .btn:hover{
    background-color: red;
  
}
.about .buttons .btn i{
    color:white;
}
.about .buttons .btn button{
    background-color: transparent;
    outline: none;
    border:none;
    color:white;
    font-size: 16px;
    cursor: pointer;
}
.about .buttons .btn button > a{
    text-decoration: none;
    color:white;
}
/*end about*/

/*start services*/
.services{
    margin-top: var(--marg);
    padding: var(--padd);
    background-color: #eee;   
}
.services .container{
    margin-top:var(--marg);
    display:flex;
    flex-wrap:nowrap; 
}
.services .container .serv{
    text-align: center;
    padding:30px;
    max-width: 25%;
    flex-basis: 25%;
    transition: all 0.3s ease-in-out 0s;
}
.services .container .serv:hover{
    background-color: white;
    box-shadow: 1px 1px 15px 0px #888
}

.services .container .serv i{
    display: block;
    color: var(--main-color);
    font-size: 35px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out 0s;
}
.services .container .serv:hover i{
    transform: scale(1.5);
}
.services .container .serv h3{
    display: block;
    font-size: 20px;
    color:#333;
    margin-bottom: 20px;
}

.services .container .serv p{
    display: block;
    font-size: 14px;
    line-height: 1.6;
    color:#444;
}
/*end services*/

/*start portfolio*/
.portfolio{
    margin-top: var(--main-color);
    padding: var(--padd);
}
.portfolio ul{
    list-style-type: none;
    display: flex;
    margin-top: 80px; 
    margin-bottom: 80px;
    margin-left: 35%;
}
.portfolio ul li{
    margin-left: 20px;
    font-size:17px;
    transition: all 0.3s ease-in-out 0s;
}
.portfolio ul li:hover{
   color:var(--main-color);
}
.portfolio ul .active{
   color: var(--main-color);
}
.portfolio .container{
    display:grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(2,1fr);
   grid-row-gap:20px ;
   grid-column-gap: 10px; 
}
.portfolio .container .con img{
    width:calc(100% - 20px)
}
.portfolio .container .con {
  position: relative;
  transition: all 0.3s ease-in-out 0s;

}
.portfolio .container .con .overlay{
    display: none;
    z-index: 2;
    content:" ";
    position: absolute;
    width:calc(100% - 20px);
    height:100%;
    right:20px;
    top:0;
    background-color:rgba(0, 0, 0, 0.5);
  
}
.portfolio .container .con .overlay .icons{
    position:absolute;
    color:var(--main-color);
    top: calc(100% - 35px );
    right:10px;
}
.portfolio .container .con .overlay .icons i{
    margin-left:10px;
    font-size: 22px;
}
.portfolio .container .con:hover .overlay{
    display: block; 
}
.statistics{
    margin-top: var(--marg);
    padding: var(--padd);
    background-color: #eee;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.statistics .stat{
    width:25%;
    text-align: center;
}
.statistics .stat i{
color:var(--main-color);
font-size:25px;
margin-bottom: 20px;
}
.statistics .stat h3{
font-size:20px;
margin-bottom: 20px;
}
.statistics .stat p{
font-size:16px;
color:#444;
margin-bottom: 20px;
}
/*end portfolio*/

/* start testimonial*/
.testimonial{
    margin-top:var(--marg);
    padding:var(--padd);
    position:relative;
}
.testimonial .slider{
    width:50%;
    transform: translateX(50%);
    right:-50%;
    margin-top:50px;
    padding:60px 40px;
    border-radius: 10px;
    background-color: #eee;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}
.testimonial .slider::before{
    position: absolute;
    content: "";
    height:70%;
    left: -200px;
    top: 0;
    z-index: 1;
    border-color: var(--main-color) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 190px;
}
.testimonial .slider img{
    z-index: 2;
    border-radius: 50%;
    max-width: 30%;
    height: 30%;
    margin-right:20px;    
}
.testimonial .slider .info h3{
    font-size:25px;
    color:#333;
    margin-bottom: 10px;
}
.testimonial .slider .info i, .testimonial .slider .info span
,.testimonial .slider .info p{
    color:#555;
    margin-bottom: 10px;
}
.testimonial .slider .info .icons i{
    color:#f1c30d;
}
/*end testimonial*/
/*start blog*/
.blog{
    margin-top:var(--marg);
    padding:var(--padd);
    background-color: #eee;
}
.blog .container{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:30px ;
    margin-top:var(--marg);
}
.blog .container .blog-bost{
    background-color: white;
}
.blog .container .blog-bost img,.blog .container .blog-bost video{ 
   max-width: 100%; 
}
.blog .container .blog-bost .info{
   padding:20px;
}
.blog .container .blog-bost .info h3{
    margin-bottom: 10px;
 }
 
.blog .container .blog-bost  .info p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 10px;
}
.blog .container .blog-bost .info .read-more{
    transition: all 0.3s ease-in-out 0s;
}
.blog .blog-bost .info .read-more:hover {
color:var(--main-color);
}

/*end blog*/

/*start contact*/
.contact{
    margin-top: var(--marg);
    padding:var(--padd);
    position: relative;
} 
.contact .container{
    padding:var(--padd);
    max-width:70%;
}
.contact .container form {
    display:grid;
    grid-template-columns: repeat(2,calc((100% - 20px)/2));
    grid-gap: 20px;
}
.contact .container form input:nth-child(3),.contact .container form textarea{
   grid-column-start: 1;
   grid-column-end: 3;
}
.contact .container form input,.contact .container form textarea{
    height:40px;
    padding: 15px;
    border-radius: 4px;
    border:1px solid #ddd;
}
.contact .container form input:focus,.contact .container form textarea:focus{
    outline: none;
    border-color: var(--main-color);
}
.contact .container form textarea{
    height:80px;
}
.contact .container form button{
    height:50px;
    width:200px;
    color:white;
    background-color: var(--main-color);
    border-radius: 5px;
    border:1 px solid var(--main-color);
    transition: 1s;
    cursor: not-allowed;
}
.contact .container form button:hover{
    background-color: red;
}
/*end contact*/

/*start footer*/
.footer{
    background-color: #333;
    min-height: 100px;
    padding:50px;
    text-align: center;
    color:white
}
.footer .icons{
    margin-bottom: 20px;
}
.footer .icons i{
    margin-left:15px;
    transition: all 0.3s ease-in-out 0s;
}
.footer .icons i:hover{
 color:var(--main-color);
}
.footer p > a{
    color:var(--main-color);
}
/* end footer*/